<ul class="menu menu-horizontal px-1">
<% nav_items.roots.sorted.each do |root| %>
  <% if root.children.any? %> 
    <li>
    <details>
      <summary><%= root.menu_title %></summary>
      <ul class="p-2">
        <% root.children.sorted.each do |children| %>
        <li><%= link_to(children.menu_title, children.materialized_path) %></li>
        <% end %>
      </ul>
    </details>
    </li>
  <% else %> 
    <li><%= link_to(root.menu_title, root.materialized_path) %></li>
  <% end %>
<% end %>
</ul>
