Начните путешествие сейчас.

Лучшее еще впереди.

<h1><%= current_page.title %></h1>

<%= content.html :text %>
<%= content.image_tag(:header_image, {resize_to_fill: [200, 200]}, {class: 'image'}) %>
